controlPlane:
  proxy:
    extraSANs:
      - "${lb_address}"
  statefulSet:
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
        ephemeral-storage: 2Gi

exportKubeConfig:
  server: "https://${lb_address}:443"
